body {
    background-color: black;
    padding-top: 60px;
}
h1 {
    background-color: goldenrod;
    text-align: center;
    font-size: 100px;
    height: 100%;
    margin: 50;
    
}
h2 {
    color: goldenrod;
    text-align: center;
    font-size: 35px;
    position: relative;
    top: -40px;

}

p {
    color: goldenrod;
    margin: 40px;
}


#segunda-imagem {
    float: left;
    width: 250px;
    position: relative; 
    top: 70px;
    margin: 30px;

}
#primeira-imagem {
    width: 320px;
    position: relative;
    left: 65px;
}
#terceira-imagem {
    position: relative;
    right: 50px;
    left: 65px;
}
#quarta-imagem {
    width: 290px;
    right: 100px;
    position: relative;
    left: 65px;
}

#quinta-imagem {
    width: 390px;
    right: 95px;
    position: relative;
    left: 120px;
}

  
  .menu-fixo {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    padding: 10px 0;
    text-align: center;
    
}

.menu-fixo a {
    color: goldenrod;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 18px;
}

.menu-fixo a:hover {
    color: white;
}

