h1 {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 55px;
}

body {
    background-color: goldenrod;
}

#botao {
    background-color: black;
    color: white;
    position: relative;
    top: -200px;
    left: 400px;
    padding: 30px 60px;
}

#primeiroh3 {
    text-align: center;
}

#segundoh3 {
    position: relative;
    top: 90px;
    margin: 25px;
}

#videoney {
    position: relative;
    top: 90px;
    margin: 35px;
}
